<a href="https://colab.research.google.com/github/bobbykawade/Artificial-Neural-Network-ANN-/blob/main/Housing_Loan_Cipla_of_artificial_neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('train_concat.csv')
dataset.head(2)

   Unnamed: 0  Gender  ...  Property Price  Loan Sanction Amount (USD)
0           0       0  ...       119933.46                    54607.18
1           2       0  ...        72440.58                    36474.43

[2 rows x 21 columns]

In [4]:
dataset.drop(['Unnamed: 0'], axis= 1)

       Gender  Income Stability  ...  Property Price  Loan Sanction Amount (USD)
0           0                 1  ...       119933.46                    54607.18
1           0                 0  ...        72440.58                    36474.43
2           0                 0  ...       121441.51                    56040.54
3           0                 1  ...       208567.91                    74008.28
4           0                 1  ...        43146.82                    22382.57
...       ...               ...  ...             ...                         ...
25567       1                 1  ...       129028.33                    62857.78
25568       1                 1  ...        73453.94                    46616.60
25569       0                 1  ...       102108.02                    61057.56
25570       1                 1  ...       168194.47                    99766.87
25571       0                 0  ...       194512.60                   117217.90

[25572 rows x 20 columns]

In [5]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

### Splitting the dataset into the Training set and Test set

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Part 2 - Building the ANN

### Initializing the ANN

In [7]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [8]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [9]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [10]:
ann.add(tf.keras.layers.Dense(units=1))

## Part 3 - Training the ANN

### Compiling the ANN

In [11]:
ann.compile(optimizer = 'adam', loss = 'mean_squared_error', metrics=['accuracy'])

### Training the ANN model on the Training set

In [12]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
640/640 [==============================] - 1s 1ms/step - loss: 962686272.0000 - accuracy: 0.0000e+00
Epoch 2/100
640/640 [==============================] - 1s 1ms/step - loss: 786561152.0000 - accuracy: 0.0000e+00
Epoch 3/100
640/640 [==============================] - 1s 1ms/step - loss: 769608320.0000 - accuracy: 0.0000e+00
Epoch 4/100
640/640 [==============================] - 1s 1ms/step - loss: 765083648.0000 - accuracy: 0.0000e+00
Epoch 5/100
640/640 [==============================] - 1s 1ms/step - loss: 764170752.0000 - accuracy: 0.0000e+00
Epoch 6/100
640/640 [==============================] - 1s 1ms/step - loss: 762980928.0000 - accuracy: 0.0000e+00
Epoch 7/100
640/640 [==============================] - 1s 1ms/step - loss: 762206336.0000 - accuracy: 0.0000e+00
Epoch 8/100
640/640 [==============================] - 1s 1ms/step - loss: 763498688.0000 - accuracy: 0.0000e+00
Epoch 9/100
640/640 [==============================] - 1s 1ms/step - loss: 762493312.0000 - accuracy: 0.0000e+00
Epoch 10/100
640/640 [==============================] - 1s 1ms/step - loss: 760920576.0000 - accuracy: 0.0000e+00
Epoch 11/100
640/640 [==============================] - 1s 1ms/step - loss: 762123584.0000 - accuracy: 0.0000e+00
Epoch 12/100
640/640 [==============================] - 1s 1ms/step - loss: 760881984.0000 - accuracy: 0.0000e+00
Epoch 13/100
640/640 [==============================] - 1s 1ms/step - loss: 760694528.0000 - accuracy: 0.0000e+00
Epoch 14/100
640/640 [==============================] - 1s 1ms/step - loss: 760142912.0000 - accuracy: 0.0000e+00
Epoch 15/100
640/640 [==============================] - 1s 1ms/step - loss: 761761984.0000 - accuracy: 0.0000e+00
Epoch 16/100
640/640 [==============================] - 1s 1ms/step - loss: 759831040.0000 - accuracy: 0.0000e+00
Epoch 17/100
640/640 [==============================] - 1s 1ms/step - loss: 761001280.0000 - accuracy: 0.0000e+00
Epoch 18/100
640/640 [==============================] - 1s 1ms/step - loss: 760326336.0000 - accuracy: 0.0000e+00
Epoch 19/100
640/640 [==============================] - 1s 1ms/step - loss: 759740672.0000 - accuracy: 0.0000e+00
Epoch 20/100
640/640 [==============================] - 1s 1ms/step - loss: 760521728.0000 - accuracy: 0.0000e+00
Epoch 21/100
640/640 [==============================] - 1s 1ms/step - loss: 759818432.0000 - accuracy: 0.0000e+00
Epoch 22/100
640/640 [==============================] - 1s 1ms/step - loss: 759735488.0000 - accuracy: 0.0000e+00
Epoch 23/100
640/640 [==============================] - 1s 1ms/step - loss: 759101824.0000 - accuracy: 0.0000e+00
Epoch 24/100
640/640 [==============================] - 1s 1ms/step - loss: 760069312.0000 - accuracy: 0.0000e+00
Epoch 25/100
640/640 [==============================] - 1s 1ms/step - loss: 759179392.0000 - accuracy: 0.0000e+00
Epoch 26/100
640/640 [==============================] - 1s 1ms/step - loss: 760510400.0000 - accuracy: 0.0000e+00
Epoch 27/100
640/640 [==============================] - 1s 1ms/step - loss: 759045568.0000 - accuracy: 0.0000e+00
Epoch 28/100
640/640 [==============================] - 1s 1ms/step - loss: 759053120.0000 - accuracy: 0.0000e+00
Epoch 29/100
640/640 [==============================] - 1s 1ms/step - loss: 758756544.0000 - accuracy: 0.0000e+00
Epoch 30/100
640/640 [==============================] - 1s 1ms/step - loss: 758804672.0000 - accuracy: 0.0000e+00
Epoch 31/100
640/640 [==============================] - 1s 1ms/step - loss: 758157120.0000 - accuracy: 0.0000e+00
Epoch 32/100
640/640 [==============================] - 1s 1ms/step - loss: 757769408.0000 - accuracy: 0.0000e+00
Epoch 33/100
640/640 [==============================] - 1s 1ms/step - loss: 758284672.0000 - accuracy: 0.0000e+00
Epoch 34/100
640/640 [==============================] - 1s 1ms/step - loss: 757729792.0000 - accuracy: 0.0000e+00
Epoch 35/100
640/640 [==============================] - 1s 1ms/step - loss: 758305344.0000 - accuracy: 0.0000e+00
Epoch 36/100
640/640 [==============================] - 1s 1ms/step - loss: 757634944.0000 - accuracy: 0.0000e+00
Epoch 37/100
640/640 [==============================] - 1s 1ms/step - loss: 757157440.0000 - accuracy: 0.0000e+00
Epoch 38/100
640/640 [==============================] - 1s 1ms/step - loss: 757295936.0000 - accuracy: 0.0000e+00
Epoch 39/100
640/640 [==============================] - 1s 1ms/step - loss: 758078976.0000 - accuracy: 0.0000e+00
Epoch 40/100
640/640 [==============================] - 1s 1ms/step - loss: 757752832.0000 - accuracy: 0.0000e+00
Epoch 41/100
640/640 [==============================] - 1s 1ms/step - loss: 756427840.0000 - accuracy: 0.0000e+00
Epoch 42/100
640/640 [==============================] - 1s 1ms/step - loss: 756997312.0000 - accuracy: 0.0000e+00
Epoch 43/100
640/640 [==============================] - 1s 1ms/step - loss: 756381504.0000 - accuracy: 0.0000e+00
Epoch 44/100
640/640 [==============================] - 1s 1ms/step - loss: 756715456.0000 - accuracy: 0.0000e+00
Epoch 45/100
640/640 [==============================] - 1s 1ms/step - loss: 755561024.0000 - accuracy: 0.0000e+00
Epoch 46/100
640/640 [==============================] - 1s 1ms/step - loss: 755789760.0000 - accuracy: 0.0000e+00
Epoch 47/100
640/640 [==============================] - 1s 1ms/step - loss: 755922240.0000 - accuracy: 0.0000e+00
Epoch 48/100
640/640 [==============================] - 1s 1ms/step - loss: 756034496.0000 - accuracy: 0.0000e+00
Epoch 49/100
640/640 [==============================] - 1s 1ms/step - loss: 756272384.0000 - accuracy: 0.0000e+00
Epoch 50/100
640/640 [==============================] - 1s 1ms/step - loss: 756374336.0000 - accuracy: 0.0000e+00
Epoch 51/100
640/640 [==============================] - 1s 1ms/step - loss: 755459200.0000 - accuracy: 0.0000e+00
Epoch 52/100
640/640 [==============================] - 1s 1ms/step - loss: 754561600.0000 - accuracy: 0.0000e+00
Epoch 53/100
640/640 [==============================] - 1s 1ms/step - loss: 755502080.0000 - accuracy: 0.0000e+00
Epoch 54/100
640/640 [==============================] - 1s 1ms/step - loss: 755618176.0000 - accuracy: 0.0000e+00
Epoch 55/100
640/640 [==============================] - 1s 1ms/step - loss: 755613568.0000 - accuracy: 0.0000e+00
Epoch 56/100
640/640 [==============================] - 1s 1ms/step - loss: 754724032.0000 - accuracy: 0.0000e+00
Epoch 57/100
640/640 [==============================] - 1s 1ms/step - loss: 754847744.0000 - accuracy: 0.0000e+00
Epoch 58/100
640/640 [==============================] - 1s 1ms/step - loss: 753785152.0000 - accuracy: 0.0000e+00
Epoch 59/100
640/640 [==============================] - 1s 1ms/step - loss: 754027456.0000 - accuracy: 0.0000e+00
Epoch 60/100
640/640 [==============================] - 1s 1ms/step - loss: 754510464.0000 - accuracy: 0.0000e+00
Epoch 61/100
640/640 [==============================] - 1s 1ms/step - loss: 754449728.0000 - accuracy: 0.0000e+00
Epoch 62/100
640/640 [==============================] - 1s 1ms/step - loss: 753925120.0000 - accuracy: 0.0000e+00
Epoch 63/100
640/640 [==============================] - 1s 1ms/step - loss: 753871936.0000 - accuracy: 0.0000e+00
Epoch 64/100
640/640 [==============================] - 1s 1ms/step - loss: 753870016.0000 - accuracy: 0.0000e+00
Epoch 65/100
640/640 [==============================] - 1s 1ms/step - loss: 753526976.0000 - accuracy: 0.0000e+00
Epoch 66/100
640/640 [==============================] - 1s 1ms/step - loss: 752950848.0000 - accuracy: 0.0000e+00
Epoch 67/100
640/640 [==============================] - 1s 1ms/step - loss: 751908096.0000 - accuracy: 0.0000e+00
Epoch 68/100
640/640 [==============================] - 1s 1ms/step - loss: 752759488.0000 - accuracy: 0.0000e+00
Epoch 69/100
640/640 [==============================] - 1s 1ms/step - loss: 752465408.0000 - accuracy: 0.0000e+00
Epoch 70/100
640/640 [==============================] - 1s 1ms/step - loss: 752729984.0000 - accuracy: 0.0000e+00
Epoch 71/100
640/640 [==============================] - 1s 1ms/step - loss: 754411008.0000 - accuracy: 0.0000e+00
Epoch 72/100
640/640 [==============================] - 1s 1ms/step - loss: 752279360.0000 - accuracy: 0.0000e+00
Epoch 73/100
640/640 [==============================] - 1s 1ms/step - loss: 752966080.0000 - accuracy: 0.0000e+00
Epoch 74/100
640/640 [==============================] - 1s 1ms/step - loss: 751600640.0000 - accuracy: 0.0000e+00
Epoch 75/100
640/640 [==============================] - 1s 1ms/step - loss: 752230400.0000 - accuracy: 0.0000e+00
Epoch 76/100
640/640 [==============================] - 1s 1ms/step - loss: 752663552.0000 - accuracy: 0.0000e+00
Epoch 77/100
640/640 [==============================] - 1s 1ms/step - loss: 750723136.0000 - accuracy: 0.0000e+00
Epoch 78/100
640/640 [==============================] - 1s 1ms/step - loss: 752124416.0000 - accuracy: 0.0000e+00
Epoch 79/100
640/640 [==============================] - 1s 1ms/step - loss: 751116736.0000 - accuracy: 0.0000e+00
Epoch 80/100
640/640 [==============================] - 1s 1ms/step - loss: 751259520.0000 - accuracy: 0.0000e+00
Epoch 81/100
640/640 [==============================] - 1s 1ms/step - loss: 751205440.0000 - accuracy: 0.0000e+00
Epoch 82/100
640/640 [==============================] - 1s 1ms/step - loss: 750842048.0000 - accuracy: 0.0000e+00
Epoch 83/100
640/640 [==============================] - 1s 1ms/step - loss: 751180032.0000 - accuracy: 0.0000e+00
Epoch 84/100
640/640 [==============================] - 1s 1ms/step - loss: 751360448.0000 - accuracy: 0.0000e+00
Epoch 85/100
640/640 [==============================] - 1s 1ms/step - loss: 750205184.0000 - accuracy: 0.0000e+00
Epoch 86/100
640/640 [==============================] - 1s 1ms/step - loss: 751042624.0000 - accuracy: 0.0000e+00
Epoch 87/100
640/640 [==============================] - 1s 1ms/step - loss: 750848320.0000 - accuracy: 0.0000e+00
Epoch 88/100
640/640 [==============================] - 1s 1ms/step - loss: 752396992.0000 - accuracy: 0.0000e+00
Epoch 89/100
640/640 [==============================] - 1s 1ms/step - loss: 750794176.0000 - accuracy: 0.0000e+00
Epoch 90/100
640/640 [==============================] - 1s 1ms/step - loss: 751013312.0000 - accuracy: 0.0000e+00
Epoch 91/100
640/640 [==============================] - 1s 1ms/step - loss: 749741376.0000 - accuracy: 0.0000e+00
Epoch 92/100
640/640 [==============================] - 1s 1ms/step - loss: 750282304.0000 - accuracy: 0.0000e+00
Epoch 93/100
640/640 [==============================] - 1s 1ms/step - loss: 750067776.0000 - accuracy: 0.0000e+00
Epoch 94/100
640/640 [==============================] - 1s 1ms/step - loss: 750114560.0000 - accuracy: 0.0000e+00
Epoch 95/100
640/640 [==============================] - 1s 1ms/step - loss: 749477824.0000 - accuracy: 0.0000e+00
Epoch 96/100
640/640 [==============================] - 1s 1ms/step - loss: 751080448.0000 - accuracy: 0.0000e+00
Epoch 97/100
640/640 [==============================] - 1s 1ms/step - loss: 749026432.0000 - accuracy: 0.0000e+00
Epoch 98/100
640/640 [==============================] - 1s 1ms/step - loss: 749328384.0000 - accuracy: 0.0000e+00
Epoch 99/100
640/640 [==============================] - 1s 1ms/step - loss: 749997824.0000 - accuracy: 0.0000e+00
Epoch 100/100
640/640 [==============================] - 1s 1ms/step - loss: 749427008.0000 - accuracy: 0.0000e+00

### Predicting the results of the Test set

In [13]:
# Predict the test set
y_pred = ann.predict(X_test)

In [15]:
y_pred

array([[ 74234.76 ],
       [ 32998.387],
       [109598.12 ],
       ...,
       [ 16546.195],
       [ 24909.137],
       [ 19526.22 ]], dtype=float32)

In [16]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [17]:
rmse = mean_squared_error(y_test, y_pred)
print("Root Mean Square Error : {:.4f}".format(rmse))

Root Mean Square Error : 748730025.5372

In [18]:
rmse_sq = sqrt(mean_squared_error(y_test, y_pred))
print("Square Root Mean Square Error : {:.4f}".format(rmse_sq))

Square Root Mean Square Error : 27362.9316

In [19]:
y_pred = ann.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 74234.76 116194.94]
 [ 32998.39      0.  ]
 [109598.12 138843.32]
 ...
 [ 16546.2       0.  ]
 [ 24909.14      0.  ]
 [ 19526.22  22172.31]]

In [ ]:
ann.